.carousel-container {
  position: relative;
  margin: 20px;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-items {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
}

.carousel-items::-webkit-scrollbar {
  display: none;
}

.carousel-item-link {
  text-decoration: none;
  color: inherit;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--bg-primary);
  border: none;
  cursor: pointer;
  padding: 10px;
  color: var(--bg-dark);
  font-size: 24px;
  z-index: 10;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
