.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.Pagination a {
  color: var(--text-primary);
}

.Pagination a:hover {
  color: var(--text-primary);
}

.Pagination span#pagination-active {
  background-color: var(--button-color);
  border-color: var(--button-color);
}
