:root {
  --text-primary: #2f2621;
  --text-secondary: #b8a594;
  --text-light: #f0ece3;

  --bg-primary: #f0ece3;
  --bg-secondary: #d0cdc6;
  --bg-dark: #2f2621;

  --line-color: #2f2621;
  --button-color: #b8a594;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-primary);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

.button-color,
.button-color:hover,
.button-color:focus {
  background-color: #b8a594;
  border-color: #b8a594;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.item-card {
  width: 180px;
  height: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-secondary);
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s;
  position: relative;
}

.item-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.item-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.item-card-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-primary);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.item-card-text {
  font-size: 12px;
  color: var(--text-primary);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--bg-primary);
  border: none;
  color: var(--text-dark);
  font-size: 20px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: var(--bg-secondary);
  color: var(--bg-dark);
}
